
a{
  text-decoration: none;
  color:grey;
}

.book{
  text-align: center;
}

.car{

  margin:auto;
  margin-top: 2%;
  width: 100%;
  padding: 10px;
}

img.blur{
    float: left;

    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    opacity: 0.1;
}


#genre{
  background-color: #faf3f3;
  font-family: 'Montserrat', sans-serif;

  text-align: center;
  margin:auto;
  padding-bottom: 100px;
  padding-top: 100px;
  width: 100%;
}
.genre_page{
  font-family:'Montserrat', sans-serif;
  line-height: 1.6;
    padding:0 10%;
}

.genre_whole h1{
  font-size: 3rem;
  padding-top: 50px;
}

.genre_whole p{
  padding-top: 10px;
  font-size: 1.6rem;
  line-height: 2;
}

.genre_whole{

  background-color: #fdfaf6;
}

.Genre{
  width:150px;

}

h1,h2,h3,h4{
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-size:3rem;
  margin:50px;
}

#first_section{
  background-color: #faf3f3;
  margin-top: 5%;
  padding-top: 10%;
}

#first_sticker{
  width:100%;
  float: right;
}

#footer{
  text-align: center;
  padding:20px;
}

form{
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
  width:20%;
}


#more{
  display: none;
}

#nav_bar{
  background-image: url("../images/nav.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile{
  padding-top:50px;
  width:200px;
}

.rated{
  padding-top: 50px;
  width:200px;
}

.sticky{
  position: fixed;
 top: 0;
 width: 100%;
 padding-top: 60px;
}

#top-container{
  min-height: 600px;
  padding:100px;
  font-size: 2rem;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #ff5e78;
  color: white;
}

#top_rated_container{
  font-family: 'Montserrat', sans-serif;
  background-color: #ef8172;
  padding: 100px 100px;
  text-align: center;
}

.top_rated_h{
  color:white;
  font-size: 1.5rem;
}
